#chat-main {
  background-color: #FFFFFF;
  overflow:hidden;
}
.chat-title{
  background-image: url("../resources/update/blue_texture.png");
    background-size:cover;
  width:100vw;
  height:12vh;
  margin:0;
  padding:0;
  position:fixed;
  top:0;
  border-style:none;
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:1;
  
}
#chatroom-title{
  width:100%;
  
  font-size:3.5vh;
  letter-spacing:2vh;
  text-indent: 2vh;
  text-align:center;
  color:white;
}
#choose-mission-text{
  margin:3vh;
  font-size:3vh;
}
#choose-friend-text{
  margin:3vh;
  font-size:3vh;
}
::placeholder {
  color:#EB931D;
  font-size: 2.5vw;
  text-indent:2vw;
}
#build-group{
  color:#EB931D;
  font-size:2.3vh;
}


#create-chat-button{
  background-color: #f4f7f8;
  width:100vw;
  height:6vh;
  position:fixed;
  top:12vh;
  border-style:none;
  margin:0;
  padding:0;
  display:flex;
  justify-content:flex-start;
  align-items:center;
  z-index:1;
}
#create-chat-button h3{
  margin:0 3%;
}
#create-chat-button img{
  max-height:3vh;
  margin:0 4%;
}
#chat-record{
  position:fixed;
  top:18vh;
  width:100vw;
  height:73vh;
  overflow:scroll;
  z-index:1;
}
.chat-room{
  height: 13vh;
  /* border-bottom:solid; */
  /* border-bottom-width:thin; */
  /* border-color:#E9B83E; */
  display:flex;
  justify-content:flex-start;
  align-items:center;
  float:left;
  overflow:hidden;
  flex: 0 0 100vw;
  background-color: white;
  position: relative;
  scroll-snap-align: start;
}
.chat-header{
margin:0 6vw 0 3vw;
height:9vh;
width:9vh;
float:left;
border-radius:50%;

}
.chat-cover{
  background:linear-gradient(#7FC8BE,white);
  position:fixed;
  top:0;
  width:100vw;
  height:92vh;
  margin:0;
  padding:0;
  opacity:0.9;
  z-index:2;
  overflow:none;
}

.create-chat-menu{
  background:white;
  border-style:none;
  border-radius:20px;
  position:fixed;
  top:15vh;
  left:10vw;
  width:80vw;
  height:55vh;
  text-align:center;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index:3;
  /* padding:0; */
  box-shadow: 1vw 1vw 2vw #aaaaaa;
  padding: 0 1vw;
}
#group-choose-mission{
  margin:0;

}
#missiontosearch{
  background-color:#FBE1B1;
  border:none;
  outline: none;
  height: 4vh;
  width:68vw;
  font-size: 2vh;
  border-radius: 1vh;
  margin: 0 6vw 1vh 6vw;
  text-indent: 9vw;
}
#missiontosearch::-webkit-input-placeholder {
  font-size: 1.8vh;
}
#friendtosearch::-webkit-input-placeholder {
  font-size: 1.8vh;
}
.search-mission{
  height: 2.1vh;
  position:absolute;
  top: 11.3vh;
  left:8vw;
}
#friendtosearch{
  background-color:#FBE1B1;
  border:none;
  outline: none;
  height: 4vh;
  width:68vw;
  font-size: 2vh;
  border-radius: 1vh;
  margin: 0 5vw 2vh 5vw;
  text-indent: 9vw;
}
.search-friend{
  height: 2.1vh;
  position:absolute;
  top: 11.3vh;
  left:8vw;
}
.hidden-button{
  display:none;
}
.choosed-friend{
  width: 31vw;
  height:40vw;
  border-style:solid;
  border-width:thin;
  border-radius:10px;
  border-color:#E9B83E;
  margin: 4vw 0vw 0vw 5vw;
  text-align:center;
  float:left;
  box-shadow: 3px 3px 5px #aaaaaa;
  text-indent: 0.5vh;
  letter-spacing: 0.5vh;
}
.choosed-friend img{
  max-height:50%;
  margin: 15% 10% 10% 10%;
  border-radius:50%;
}
.choosed-friend:focus{
  border-color:green;
}
#chat-choose-friends h3{
  margin:0%
}

#chat-choose-missions{
  text-align:center;
}



.choosed-mission{
  width: 68vw;
  height:17vw;
  border-color:#E9B83E;
  border-style:solid;
  border-width: thin;
  border-radius:8px;
  margin: 1.4vh 6vw;
  box-shadow: 3px 3px 3px #c7c6c6;
}
#mission-name-text{
  width:100%;
  height:100%;
  text-align:center;
  line-height:17vw;
  font-size:2.7vh;
}

[type="radio"]{
  display:none;
} 
.chosen{
  background-color: #eec567;
  color:white;
}
.unchosen{
  background-color:white;
  color:black;
}  
[type="checkbox"]{
  display:none;
} 



.button-sure{
  position:absolute;
  top: 74vh;
  left: 25vw;
  background: #e4a936;
  color:white;
  width: 50vw;
  height:13vw;
  display:flex;
  justify-content:center;
  align-items:center;
  margin:0;
  border-style:none;
  border-radius:7px;
  font-size:3vh;
  letter-spacing:3vh;
  text-indent: 3vh;
  z-index:3;
  overflow:hidden;
  box-shadow: 1vw 1vw 2vw #aaaaaa;
}
.button-sure h3{
  margin:0%;
  line-height:10vw;
}
.button-creategroup{
  position:absolute;
  top:75vh;
  left: 25vw;
  background: #e4a936;
  color:white;
  width: 50vw;
  height:13vw;
  display:flex;
  justify-content:center;
  align-items:center;
  margin:0;
  border-style:none;
  border-radius:7px;
  font-size:2.7vh;
  letter-spacing: 1vh;
  text-indent: 2vh;
  z-index:3;
  overflow:hidden;
  box-shadow: 1vw 1vw 2vw #9e9d9d;
}
.button-creategroup h3{
  margin:0%;
  line-height:10vw;
}


.gone{
   display:none;	
}
.chat-firstline{
  color:gray;
  font-size: 2vh;
  width:70vw;
  overflow:hidden;
  margin: 0.2vh;
}
.group_slideleft {
  display: flex;
  overflow-y: hidden;
  height: 13vh;
  scroll-snap-type: x mandatory;
}
.group_slideleft .group_deletebutton {
  width: 4rem;
  height: 12.9vh;
  position: absolute;
  right: 0;
  background-color: #fa3434;
  border-color: #fa3434;
  color:white;
  font-size: 2.5vh;
  writing-mode:vertical-lr;
  display:flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1vh;
  text-indent: 1vh;
}

.useless_slideleft {
  display: flex;
  overflow-y: hidden;
  height: 13vh;
  scroll-snap-type: x mandatory;
}
.useless_slideleft .group_deletebutton {
  visibility: hidden;
  width: 4rem;
  height: 13vh;
  position: absolute;
  right: 0;
  background-color: #fa3434;
  border-color: #fa3434;
  color:white;    
  font-size:5vw;
  writing-mode:vertical-lr;
}
.useless_slideleft .space{
  display:none;
}
.chat-group-name{
  font-size:2.6vh;
  margin:0;
  
}
