#chat-main {
  background-color: #FFFFFF;
  overflow:hidden;
}
.chat-title{
  background:#7FC8BE;
  width:100vw;
  height:10vh;
  margin:0;
  padding:0;
  position:fixed;
  top:0;
  border-style:none;
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:1;
  
}
#chatroom-title{
  width:100%;
  
  font-size:3.8vh;
  letter-spacing:2vh;
  text-indent: 2vh;
  text-align:center;
  color:white;
}
#choose-mission-text{
  margin:3vh;
  font-size:3vh;
}
#choose-friend-text{
  margin:3vh;
  font-size:3vh;
}
::placeholder {
  color:#EB931D;
  font-size: 2.5vw;
  text-indent:2vw;
}
#build-group{
  color:#EB931D;
  font-size:2.3vh;
}
.search-mission{
  visibility:hidden;
  margin:0;
}
.search-friend{
  visibility:hidden;
  margin:0;
}
#create-chat-button{
  background-color:#EAF6F7;
  width:100vw;
  height:5vh;
  position:fixed;
  top:10vh;
  border-style:none;
  margin:0;
  padding:0;
  display:flex;
  justify-content:flex-start;
  align-items:center;
  z-index:1;
}
#create-chat-button h3{
  margin:0 3%;
}
#create-chat-button img{
  max-height:60%;
  margin:0 4%;
}
#chat-record{
  position:fixed;
  top:15vh;
  width:100vw;
  height:75vh;
  overflow:scroll;
  z-index:1;
}
.chat-room{
  width:100vw;
  height:15vh;
  border-bottom:solid;
  border-bottom-width:thin;
  display:flex;
  justify-content:flex-start;
  align-items:center;
  float:left;
  
}
#chat-header{
margin:0 3vw 0 3vw;
height:60%;
float:left;
}
.chat-cover{
  background:linear-gradient(#7FC8BE,white);
  position:fixed;
  top:0;
  width:100vw;
  height:90vh;
  margin:0;
  padding:0;
  opacity:0.9;
  z-index:2;
  overflow:none;
}
hidden{
  display:none;
}
show{
  display:none;
}
.create-chat-menu{
  background:white;
  border-style:none;
  border-radius:20px;
  position:fixed;
  top:15vh;
  left:10vw;
  width:80vw;
  height:55vh;
  text-align:center;
  overflow:scroll;
  z-index:3;
  padding:0;
  box-shadow:10px 10px 15px gray;
}
#group-choose-mission{
  margin:0;

}
#missiontosearch{
  background-color:#FBE1B1;
  border:none;
  outline: none;
  height:3.8vh;
  width:87%;
  font-size: 2vh;
  border-radius:35px;
  
}
#friendtosearch{
  background-color:#FBE1B1;
  border:none;
  outline: none;
  height:3.8vh;
  width:87%;
  font-size: 2vh;
  border-radius:35px;
}
.choosed-friend{
  width:34vw;
  height:40vw;
  border-style:solid;
  border-width:thin;
  border-radius:10px;
  margin:2vw 1vw 2vw 3vw;
  text-align:center;
  float:left;
}
.choosed-friend img{
  max-height:50%;
  margin:10%;
}
.choosed-friend:focus{
  border-color:green;
}
#chat-choose-friends h3{
  margin:0%
}

#chat-choose-missions{
  text-align:center;
}
.search-friend{
  background-color:transparent;
  border-width:0px;
	outline:none;
  
}
.search-mission{
  background-color:transparent;
  border-width:0px;
	outline:none;
  
}
.search-friend img{
  max-height:2vh;
  margin:0vw;
}
.search-mission img{
  max-height:2vh;
  margin:0vw;
}

.choosed-mission{
  width:72vw;
  height:17vw;
  border-color:#E9B83E;
  border-style:solid;
  border-radius:8px;
  margin:4vw;
  box-shadow:1px 1px 3px gray;
}
#mission-name-text{
  width:100%;
  height:100%;
  text-align:center;
  line-height:17vw;
  font-size:2.7vh;
}

[type="radio"]{
  display:none;
} 
.chosen{
  background-color:#E9B83E;
  color:white;
}
.unchosen{
  background-color:white;
  color:black;
}  
[type="checkbox"]{
  display:none;
} 



.button-sure{
  position:absolute;
  top:75vh;
  left:20vw;
  background:#EB931D;
  color:white;
  width:60vw;
  height:13vw;
  display:flex;
  justify-content:center;
  align-items:center;
  margin:0;
  border-style:none;
  border-radius:7px;
  font-size:3vh;
  letter-spacing:3vh;
  text-indent: 3vh;
  z-index:3;
  overflow:hidden;
}
.button-sure h3{
  margin:0%;
  line-height:10vw;
}
.button-creategroup{
  position:absolute;
  top:80vh;
  left:29vw;
  background:green;
  color:white;
  width:42vw;
  height:10vw;
  text-align:center;
  margin:0;
  border-style:none;
  border-radius:4px;
  z-index:3;
  overflow:hidden;
}
.button-creategroup h3{
  margin:0%;
  line-height:10vw;
}

[type="text"]{
  margin:0 0 0 5vw;
  float:left;
}

.gone{
   display:none;	
}