#friend-main {
    background-color: #FFFFFF;
    
}

.friend-title {
    background-image: url("../resources/update/blue_texture.png");
    background-size:cover;
    width:100vw;
    height:10vh;
    margin:0;
    padding:0;
    position:fixed;
    top:0;
    border-style:none;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:1;
}
#friend-title-text{
    width:100%;
  
    font-size:3.8vh;
    letter-spacing:2vh;
    text-indent: 2vh;
    text-align:center;
    color:white;
}
#search-ID {
    background-color: #EAF6F7;
    width: 100vw;
    height: 5vh;
    position: fixed;
    top: 10vh;
    border-style:none;
    margin: 0;
    padding: 0;
    z-index: 1;
}

#ID-choose-friend {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#inside-image{
    height:2.6vh;
    position:fixed;
    top:11.2vh;
    left:7vw;
}
#persontosearch {
    border-radius: 1.75vh;
    height: 3.3vh;
    width: 90vw;
    outline: none;
    border-style: none;
    background-color:#FBE1B1;
    margin: 0.85vh 5vw 0.85vh 5vw;
    font-size: 2.2vh;  
    text-indent: 10vw;
}
#persontosearch::-webkit-input-placeholder {
    font-size: 2vh;
}

#friend-record {
    position: fixed;
    top: 15vh;
    left:5vw;
    width: 90vw;
    height: 75vh;
    overflow: scroll;
    z-index: 1;
    padding:1vh 0 1vh 0;
}
.friend-lefttwo{
    height:100%;
    width:53vw;
    display:flex;
    align-items: center;
    float:left;
    overflow-x: scroll;
}
.friend-header {
    margin: 0 5vw 0 5vw;
    height: 60%;
    float: left;
    border-radius:50%;
    
}

.hidden {
    visibility: hidden;
}

.show {
    visibility: show;
}



.slideleft {
    display: flex;
    overflow-y: hidden;
    height: 12vh;
    scroll-snap-type: x mandatory;
}

.friend {
    height: 12vh;
    border-style: solid;
    border-width: thin;
    border-color: #F1CE61;
    flex: 0 0 90vw;
    background-color: white;
    position: relative;
    scroll-snap-align: start;
}
.friend-nickname{
    color: #EB931D;
    position: absolute;
    right:-5vw;
    height:100%;
    width: 35vw;
    overflow-x: scroll;
    display:flex;
    align-items: center;
    justify-content: end;
}

.space {
    flex: 0 0 4rem;
    scroll-snap-align: end;
}

.deletebutton {
    width: 4rem;
    height: 12vh;
    position: absolute;
    right: 0;
    background-color: #fa3434;
    border-color: #fa3434;
    color:white;    
    font-size:5vw;
    writing-mode:vertical-lr;
}


#addfriend {
    background-color: white;
    border-radius: 20px;
    position: absolute;
    top: 25vh;
    left: 20vw;
    width: 60vw;
    height: 35vh;
    text-align: center;
    padding: 0;
    z-index: 3;
    overflow: none;
    box-shadow: 3px 3px 5px gray;
}

#addfriend_pic {
    max-width: 30vw;
    margin: 10%;
}

#addfriend_name {
    font-size: 5vw;
    padding: 0;
}

#button_add {
    width: 33vw;
    height: 13vw;
    background-color: #EB931D;
    border-radius:13px;
    border-style:none;
    font-size:5vw;
    margin:5vw;
    box-shadow: 3px 3px 5px gray;
}

#button_cantfind {
    width: 33vw;
    height: 13vw;
    background-color: #EB931D;
    border-radius:13px;
    border-style:none;
    font-size:5vw;
    margin:5vw;
    box-shadow: 3px 3px 5px gray;
}

.friend-cover {
    background:linear-gradient(#7FC8BE,white);
    position:fixed;
    top:0;
    width:100vw;
    height:92vh;
    margin:0;
    padding:0;
    opacity:0.9;
    z-index:2;
    overflow:none;
}


#click-friend{
    background:white;
    border-style:none;
    border-radius:20px;
    position:fixed;
    top:20vh;
    left:13vw;
    width:74vw;
    height:49vh;
    text-align:center;
    overflow:none;
    z-index:3;
    padding:0;
    box-shadow:10px 10px 15px gray;
}
.click-friend-top{
    width:100%;
    height:65%;
    text-align:center;
    margin:15% 0 0 0;
}
#click-friend-header{
    max-width:45%;
    border-radius:50%;
}
#click-friend-name{
    padding:1vh;
    font-size:2.5vh;
    font-weight: bold;
    letter-spacing:0.5vh;
    text-indent: 0.5vh;
}
.click-friend-bottom{
    width:100%;
    height:35%;
}
#click-friend-data{
    position:absolute;
    bottom:0;
    left:0;
    width:50%;
    height:35%;
    text-align:center;
}
#click-friend-data img{
    max-height:35%;
}
#click-friend-data p{
    font-size:4vw;
    color:#E9B83E;
}
#click-friend-chat{
    position:absolute;
    bottom:0;
    right:0;
    text-align:center;
    width:50%;
    height:35%;
}
#click-friend-chat img{
    max-height:35%;
}
#click-friend-chat p{
    font-size:4vw;
    color:#E9B83E;
}
#makesure-deletefriend{
    z-index:100;
}
.makesure-top{
    position:fixed;
    background: linear-gradient(#FBE1B1,white);
    top:23vh;
    left:12.5vw;
    height:40vh;
    width:75vw;
    border-radius:5vw;
    border-style: none;
    z-index:100;
    text-align: center;
    box-shadow: 1vh 1vh 2vh gray;
}
.makesure-pic{
    margin-top: 5vh;
    height:14vh;
    width:14vh;
    border-radius: 50%;    
}
.makesure-name{
    font-size:3vh;
    text-indent: 1vh;
    letter-spacing: 1vh;
    margin:2vh;
}
.makesure-text{
    text-align: center;
    width:70%;
    position:relative;
    left:15%;
    font-size:2.2vh;
}
.makesure-cancel{
    position:fixed;
    top:66vh;
    left:20vw;
    width:25vw;
    height:5vh;
    z-index:100;
    background-color: white;
    border-style:solid;
    border-color:  #E9B83E;
    border-radius:2vw;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:2.2vh;
    text-indent: 1.5vh;
    letter-spacing: 1.5vh;
    box-shadow: 0.5vh 0.5vh 1vh gray;
}
.makesure-sure{
    position:fixed;
    top:66vh;
    right:20vw;
    width:25vw;
    height:5vh;
    z-index:100;
    background-color: #EB931D;
    border-radius:2vw;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:2.2vh;
    text-indent: 1.5vh;
    letter-spacing: 1.5vh;
    box-shadow: 0.5vh 0.5vh 1vh gray;
}