#friend-main {
    background-color: #FFFFFF;
}

.friend-title {
    background:#7FC8BE;
    width:100vw;
    height:10vh;
    margin:0;
    padding:0;
    position:fixed;
    top:0;
    border-style:none;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:1;
}
#friend-title-text{
    width:100%;
  
    font-size:3.8vh;
    letter-spacing:2vh;
    text-indent: 2vh;
    text-align:center;
    color:white;
}
#search-ID {
    background-color: #EAF6F7;
    width: 100vw;
    height: 5vh;
    position: fixed;
    top: 10vh;
    border-style:none;
    margin: 0;
    padding: 0;
    z-index: 1;
}

#ID-choose-friend {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

[type="text"] {
    margin: 0 4vw 0 4vw;
    float: left;
}

#search-ID img {
    max-height: 2.5vh;
    margin: 0;
}

#friend-record {
    position: fixed;
    top: 15vh;
    width: 100vw;
    height: 75vh;
    overflow: scroll;
    z-index: 1;
}

#friend-header {
    margin: 0 5vw 0 5vw;
    height: 60%;
    float: left;
    border-radius:50%;
}

.hidden {
    visibility: hidden;
}

.show {
    visibility: show;
}

.output-search-ID {
    background: transparent;
    border-width: 0px;
    outline: none;
}

.slideleft {
    display: flex;
    overflow-y: hidden;
    height: 12vh;
    scroll-snap-type: x mandatory;
}

.friend {
    height: 12vh;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: thin;
    border-color: #E9B83E;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 0 0 100vw;
    background-color: white;
    position: relative;
    scroll-snap-align: start;
}

.space {
    flex: 0 0 4rem;
    scroll-snap-align: end;
}

.deletebutton {
    width: 4rem;
    height: 12vh;
    position: absolute;
    right: 0;
    background-color: red;
    border-color: red;
}

.deletebutton:active {
    background-color: green;
}

#addfriend {
    background-color: white;
    border-radius: 20px;
    position: absolute;
    top: 25vh;
    left: 20vw;
    width: 60vw;
    height: 35vh;
    border-style: solid;
    text-align: center;
    padding: 0;
    z-index: 3;
    overflow: none;
}

#addfriend_pic {
    max-width: 30vw;
    margin: 10%;
}

#addfriend_name {
    font-size: 5vw;
    padding: 0;
}

#button_add {
    width: 33vw;
    height: 13vw;
    background-color: #EB931D;
    border-radius:13px;
    border-style:none;
    font-size:5vw;
    margin:5vw;
    box-shadow: (3px,3px,5px,gray);
}

#button_cantfind {
    width: 33vw;
    height: 13vw;
    background-color: #EB931D;
    border-radius:13px;
    border-style:none;
    font-size:5vw;
    margin:5vw;
    box-shadow: (3px,3px,5px,gray);
}

.friend-cover {
    background:linear-gradient(#7FC8BE,white);
    position:fixed;
    top:0;
    width:100vw;
    height:90vh;
    margin:0;
    padding:0;
    opacity:0.9;
    z-index:2;
    overflow:none;
}

#search-ID input[type="text"] {
    border-radius: 1.75vh;
    height: 3.3vh;
    width: 80%;
    outline: none;
    border-style: none;
    background-color:#FBE1B1;
    margin: 0.7vh 0.5vh 0.5vh 2vh;
    font-size: 2.2vh;
}