#myfriend-main {
    background: linear-gradient(#EAF6F7, white);
    overflow: hidden;
}

.Fmypage-title {
    background-image: url("../resources/update/blue_texture.png");
    background-size: cover;
    width: 100vw;
    height: 12vh;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#Fmy-data {
    color: white;
    font-size: 3.5vh;
    text-indent: 2vh;
    letter-spacing: 2vh;
}

#Fmypage-record {
    background: transparent;
    width: 100vw;
    position: fixed;
    top: 12vh;
    display: flex;
    justify-content: flex-start;
}

#Fdata-pic {
    max-width: 25vw;
    margin: 6vw 5vw 4vw 5vw;
    border-radius: 50%;
    background-color: white;
}

#Fdata-name {
    font-size: 6vw;
    padding: 5vw 0 1vw 1vw;
}

#Fdata-nickname {
    font-size: 5vw;
    padding: 1vw;
}

#Fdata-ID {
    font-size: 5vw;
    padding: 1vw;
}

#Fdata-selfintro-title {
    height: 10vw;
    width: 40vw;
    position: absolute;
    top: 15vh;
    margin: 3vh 5vw 2vh 5vw;
    border-style: none;
    border-radius: 4pt;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ADDBD4;
    font-size: 5vw;
    text-indent: 1vw;
    letter-spacing: 1vw;
}

#Fdata-selfintro-text {
    position: absolute;
    width: 84vw;
    top: 22vh;
    margin: 1vh 8vw 0 8vw;
    padding: 3vw;
    font-size: 2vh;
    height: 17vh;
    white-space: pre-wrap;
    overflow: scroll;
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
}

#Fcharacteristics-L {
    position: absolute;
    top: 40vh;
    left: 5vw;
    width: 35vw;
    height: 35vh;
    border-style: none;
    border-radius: 5vw;
    background-color: #FBE1B1;
    box-shadow: 2.5px 3px 5px #aaaaaa;
    text-align: center;
    overflow: scroll;
    /* display: flex; */
}

#FL-title {
    color: rgb(53, 53, 53);
    font-size: 5vw;
    text-indent: 1vw;
    letter-spacing: 1vw;
    padding: 3vh 4vw 11vh 4vw;
}

.Fcharacteristics-RT {
    position: absolute;
    top: 40vh;
    right: 5vw;
    width: 51vw;
    height: 16.5vh;
    border-style: none;
    border-radius: 5vw;
    background-color: #FBE1B1;
    box-shadow: 3px 3px 5px #aaaaaa;
    writing-mode: vertical-lr;
    display: flex;
    align-items: center;
}

#FRT-title {
    color: rgb(53, 53, 53);
    font-size: 2.3vh;
    text-indent: 0.5vh;
    letter-spacing: 0.5vh;
    position: absolute;
    left: 6vw;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    writing-mode: vertical-lr;
    margin: 2.4vh 0;
}

.Fcharacteristics-RB {
    position: absolute;
    top: 58.5vh;
    right: 5vw;
    width: 51vw;
    height: 16.5vh;
    border-style: none;
    border-radius: 5vw;
    background-color: #FBE1B1;
    box-shadow: 3px 3px 5px #aaaaaa;
    writing-mode: vertical-lr;
    /* padding: 3vw; */
    display: flex;
    align-items: center;
}

#FRB-title {
    color: rgb(53, 53, 53);
    font-size: 2.3vh;
    text-indent: 0.5vh;
    letter-spacing: 0.5vh;
    position: absolute;
    left: 6vw;
    margin: 2.4vh 0;
    writing-mode: vertical-lr;
}

#Fmission-launched {
    z-index: 10;
    position: fixed;
    top: 10vh;
    width: 100vw;
    height: 80vh;
    background-color: white;
}

.Fback-button img {
    position: fixed;
    top: 11.5vh;
    left: 4vw;
    height: 3.2vh;
}

#Fmission-container {
    position: fixed;
    top: 17vh;
    width: 100vw;
    height: 75vh;
    background-color: #EAF6F7;
    border-radius: 6vh 6vh 0 0;
    text-align: center;
    overflow: scroll;
}

#Fmission-launched-title {
    color: rgb(118 117 117);
    font-size: 2.8vh;
    letter-spacing: 1vh;
    text-indent: 1vh;
    padding: 2.5vh;
}

.Flaunch-missions {
    width: 90vw;
    height: 8vh;
    background-color: white;
    text-align: center;
    margin: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 3px 5px gray;
    border-radius: 3vw;
}

.Fmission-area {
    background-color: #ECE569;
    border-bottom-left-radius: 3vw;
    border-top-left-radius: 3vw;
    border-bottom-right-radius: 80%;
    writing-mode: vertical-lr;
    float: left;
    width: 12vw;
    height: 8vh;
    padding: 2vw;
}

.Flaunch-mission-name {
    display: flex;
    align-items: center;
    font-size: 2.2vh;
}

.Fbarchart {
    max-height: 3vh;
    margin-right: 5vw;
}

#Fcharacteristic-analyze {
    z-index: 10;
    position: fixed;
    top: 10vh;
    width: 100vw;
    height: 80vh;
    background-color: white;
}

#Fself-rador {
    position: fixed;
    top: 17vh;
    width: 100vw;
    height: 75vh;
    background-color: #EAF6F7;
    border-radius: 6vh 6vh 0 0;
    text-align: center;
}

#Fcharacteristic-analyze-title {
    color: rgb(118 117 117);
    font-size: 2.8vh;
    letter-spacing: 1vh;
    text-indent: 1vh;
    padding: 3vh;
}

#Fvalue-travel,
#Fvalue-activity,
#Fvalue-self {
    font-size: 2.8vh;
    padding: 1vh 0vw 1vh 6vw;
    float: left;
    width: 50%;
    color: #515151;
}

#Fvalue-social,
#Fvalue-food,
#Fvalue-sport {
    font-size: 2.8vh;
    padding: 1vh 0vw 1vh 20vw;
    float: left;
    color: #515151;
    width: 50%;
}

#Frador {
    background: white;
    height: 34vh;
    width: 90vw;
    position: absolute;
    top: 11vh;
    left: 5vw;
    border-radius: 3vh;
    text-align: center;
}

#friendChart {
    max-width: 65vw;
    background-color: white;
    border-radius: 10%;
}

.Fcharacteristics-RT img {
    height: 10vh;
    margin: 3.25vh;
    position: absolute;
    left: 13.5vw;
}

.Fcharacteristics-RB img {
    height: 9.5vh;
    margin: 3.25vh;
    position: absolute;
    left: 13vw;
}

.Fmission-show {
    background-color: white;
    width: 30vw;
    height: 4vh;
    margin: 4vw 2.5vw;
    border-radius: 1vw;
    overflow: hidden;
}

.Fyellow {
    background-color: #7FC8BE;
    border-bottom-left-radius: 1vw;
    border-top-left-radius: 1vw;
    border-bottom-right-radius: 80%;
    float: left;
    width: 5vw;
    height: 4vh;
}

.Fsmall-mission-name {
    line-height: 4vh;
    letter-spacing: 0.5vw;
    text-indent: 1vw;
}

#Fcharacteristic-history {
    z-index: 10;
    position: fixed;
    top: 10vh;
    width: 100vw;
    height: 80vh;
    background-color: white;
}

#Fself-history {
    position: fixed;
    top: 17vh;
    width: 100vw;
    height: 75vh;
    background-color: #EAF6F7;
    border-radius: 6vh 6vh 0 0;
    text-align: center;
    overflow: scroll;
}

#Fcharacteristic-history-title {
    color: rgb(118, 117, 117);
    font-size: 2.8vh;
    letter-spacing: 1vh;
    text-indent: 1vh;
    padding: 2vh;
}

#Fphotobook-grid-wrapper {
    display: grid;
    grid-auto-flow: row;
    row-gap: 0.5vw;
    column-gap: 0.5vw;
    width: 100vw;
    max-width: 100vw;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 33vw;
    margin-top: 2vh;
}

#Fphotobook-grid-wrapper div {
    display: inline-block;
    vertical-align: middle;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25), -1px -1px 2px rgba(0, 0, 0, 0.25);
    background-color: #FBE1B1;
}

#Fphotobook-grid-wrapper div .Fphotobook-grid-item {
    vertical-align: middle;
    object-fit: cover;
    max-width: 100%;
    height: 100%;
}

#Frador-advanced {
    background-color: tomato;
    opacity: 0.5;
    position: absolute;
    top: 7vh;
    left: 17.5vw;
    height: 19.05vh;
    width: 22vh;
}

#Frador-value {
    position: absolute;
    top: 50vh;
    text-align: left;
    width: 100%;
}

#friendpage-container {
    position: fixed;
    top: 12vh;
    background: linear-gradient(#EAF6F7, white);
    width: 100%;
    height: 80vh;
    overflow-y: scroll;
}