#mypage-main {
    background:linear-gradient(#EAF6F7,white) ;
    overflow: hidden;
}

.mypage-title {
    background:#E9B83E;
    width:100vw;
    height:10vh;
    margin:0;
    padding:0;
    position:fixed;
    top:0;
    border-style:none;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:1;
}
#my-data{
    color:white;
    font-size:4vh;
    letter-spacing:2vh;
  }
#mypage-record {
    background: #EAF6F7;
    width: 100vw;
    position: fixed;
    top: 10vh;
    display: flex;
    justify-content: flex-start;
}

#data-pic {
    max-width: 25vw;
    margin: 5vw;
    border-radius:50%;
}

#data-name {
    font-size: 6vw;
    padding: 5vw 0 1vw 0;
}

#data-nickname {
    font-size: 5vw;
    padding: 1vw;
}

#data-ID {
    font-size: 5vw;
    padding: 1vw;
}

#data-selfintro-title {
    height: 10vw;
    width: 40vw;
    position: fixed;
    top: 25vh;
    margin: 5vw;
    border-style: none;
    border-radius: 4pt;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#E9B83E;
    font-size:5vw;
    text-indent: 1vw;
    letter-spacing: 1vw;
}

#data-selfintro-text {
    position: fixed;
    top: 32vh;
    margin: 0 8vw 0 8vw;
    padding: 3vw;
    font-size: 5vw;
    height: 18vh;
    overflow: scroll;
}

#data-characteristics {
    width: 95vw;
    height: 37vh;
    position: fixed;
    top: 51vh;
    left: 2vw;
    border-style: solid;
    border-radius: 20pt;
    border-width: thin;
    background:linear-gradient(to right,#CFE9EA,white);

}

.characteristics-left {
    height: 100%;
    width: 30%;
}

#value-social {
    font-size: 5vw;
    padding: 10vw 0 2vw 8vw;
}

#value-travel,
#value-food,
#value-activity,
#value-sport,
#value-self {
    font-size: 5vw;
    padding: 2vw 0 2vw 8vw;
}

.characteristics-right {
    position: absolute;
    top: 15%;
    right: 3%;
}

#myChart {
    max-width: 50vw
}
#logout{
    position:fixed;
    right:5vw;
    top:15vh;
    width:20vw;
    height:10vw;
    background:linear-gradient(#EB931D,#F1CE61);
    border-style:none;
    font-size:5vw;
    color:white;
    z-index:5
}