#quest-filtered #quest-list .qblock .qblock-wrapper .qblock-state, #quest-filtered #quest-list .qblock .qblock-wrapper .qblock-points, #quest-filtered #quest-list .qblock .qblock-type, #quest-filtered #quest-list-header, #filter #filter-block #filter-footer .filter-footer-button, #filter #filter-block .filter-div .flex-wrapper .filter-type, #filter #filter-block .filter-div .flex-wrapper input, #filter #quest-main-header-filtering, #quest-detail .qd-title, #quest-detail #quest-detail-header #quest-title-block .wrapper, #quest-detail #quest-detail-header #quest-title-block, .quest-peek .horizontal-scroll-container .quest-block .accept-button, .quest-peek .horizontal-scroll-container .quest-block .title, .quest-peek .horizontal-scroll-container .quest-block .type, #quest-main #quest-main-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

#quest-main {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#quest-main::-webkit-scrollbar {
  display: none;
}
#quest-main #quest-main-header {
  margin-top: calc(100vh / 15);
  width: 100vw;
  height: 10vh;
  background-color: #FFFFFF;
  border-top: black solid 3px;
  border-bottom: black solid 3px;
}
#quest-main #quest-main-header span {
  text-align: center;
  font-size: 2em;
  letter-spacing: 10vw;
  margin-right: -10vw;
}
#quest-main .dummy {
  height: 20vh;
  width: 100vw;
}

.filter-button {
  margin: 5px 0 5px 10px;
  display: inline-block;
  height: calc(100vh / 12);
  width: fit-content;
  line-height: calc(100vh / 12);
}
.filter-button * {
  vertical-align: middle;
}
.filter-button img {
  height: 50%;
}
.filter-button span {
  margin-left: 10px;
  font-size: 1.3em;
  height: 1.3em;
  letter-spacing: 0.1em;
}

.quest-peek {
  width: calc(2900vw / 30);
  height: calc(500vh / 12);
  border: black solid 3px;
  border-radius: 48px;
  margin: 0 auto 10px;
  overflow: hidden;
}
.quest-peek .peek-title {
  padding: 0 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 19%;
  background-color: #F2F2F2;
  border-bottom: black solid 3px;
}
.quest-peek .peek-title span {
  display: inline-block;
  vertical-align: middle;
}
.quest-peek .peek-title span:nth-child(1) {
  font-size: 1.5em;
  letter-spacing: 0.2em;
}
.quest-peek .peek-title span:nth-child(2) {
  font-size: 1em;
}
.quest-peek .horizontal-scroll-container {
  overflow-x: scroll;
  white-space: nowrap;
  height: 81%;
  line-height: 100%;
}
.quest-peek .horizontal-scroll-container .quest-block {
  display: inline-block;
  width: calc(725vw / 18);
  height: calc(3100% / 39);
  vertical-align: middle;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 8px 0 5px;
  border-radius: 40px;
  border: black solid 2px;
  overflow: hidden;
}
.quest-peek .horizontal-scroll-container .quest-block .type {
  height: calc(700% / 31);
  width: 100%;
  border-bottom: black solid 2px;
}
.quest-peek .horizontal-scroll-container .quest-block .type span {
  font-size: 3vh;
  letter-spacing: 6vw;
  margin-right: -6vw;
  margin-top: 1vh;
}
.quest-peek .horizontal-scroll-container .quest-block .title {
  width: 100%;
  height: calc(70% - calc(700% / 31));
}
.quest-peek .horizontal-scroll-container .quest-block .title span {
  display: block;
  padding: 3%;
  white-space: normal;
  font-size: 3vh;
  line-height: 4vh;
  text-align: center;
  letter-spacing: 2vw;
  margin-right: -2vw;
}
.quest-peek .horizontal-scroll-container .quest-block .accept-button {
  position: absolute;
  left: -20%;
  right: -20%;
  bottom: -1%;
  top: 70%;
  border-radius: 50% 50% 0% 100%/100% 100% 0% 0%;
  border: black solid 2px;
  background-color: #F2F2F2;
}
.quest-peek .horizontal-scroll-container .quest-block .accept-button span {
  font-size: 2.8vh;
  letter-spacing: 3vh;
  margin-right: -3vh;
  margin-top: 1vh;
}

#quest-detail {
  background-color: #FFFFFF;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#quest-detail #quest-detail-header {
  width: 100vw;
  height: calc(1300vh / 60);
  position: relative;
}
#quest-detail #quest-detail-header img {
  margin: auto 0;
  display: block;
  height: 3vh;
  width: 3vh;
  position: absolute;
  right: 1.5vh;
  top: 1.5vh;
}
#quest-detail #quest-detail-header #quest-title-block {
  border-top: black solid 3px;
  border-bottom: black solid 3px;
  background-color: #F2F2F2;
  width: 100vw;
  height: calc(940vh / 60);
  position: absolute;
  bottom: 0;
  flex-direction: column;
  justify-content: space-around;
}
#quest-detail #quest-detail-header #quest-title-block .wrapper #quest-tag {
  height: 5vh;
  line-height: 5vh;
  display: inline-block;
  background-color: #BFBFBF;
  border-radius: 8px;
  font-size: 2.7vh;
  margin-right: calc(100vw / 26);
}
#quest-detail #quest-detail-header #quest-title-block .wrapper #quest-points {
  height: calc(500vh / 120);
  line-height: calc(500vh / 120);
  text-align: center;
  width: calc(500vh / 120);
  border-radius: calc(calc(500vh / 120) / 2);
  display: inline-block;
  background-color: #A6A6A6;
}
#quest-detail #quest-detail-header #quest-title-block #quest-title-text {
  display: block;
  font-size: 3vh;
  position: relative;
  bottom: 0.5vh;
}
#quest-detail .qd-title {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 20vh;
  height: 5vh;
  border-radius: 8px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.75), -3px -3px 6px rgba(0, 0, 0, 0.75);
  background-color: #F2F2F2;
}
#quest-detail #quest-intro {
  position: static;
  width: 100vw;
  margin-top: 3vh;
  padding: 0 5vw;
}
#quest-detail #quest-intro #quest-intro-title {
  margin-top: 2vh;
}
#quest-detail #quest-intro #quest-intro-title span {
  font-size: 2.7vh;
}
#quest-detail #quest-intro #quest-intro-body {
  display: block;
  margin-top: 2vh;
  width: 90vw;
  font-size: 2.7vh;
}
#quest-detail #quest-require {
  position: satatic;
  width: 100vw;
  margin-top: 3vh;
  padding: 0 5vw;
}
#quest-detail #quest-require #quest-require-title {
  margin-top: 2vh;
}
#quest-detail #quest-require #quest-require-title span {
  font-size: 2.7vh;
}
#quest-detail #quest-require #quest-require-body {
  display: block;
  margin-top: 2vh;
  width: 90vw;
  font-size: 2.7vh;
}
#quest-detail #quest-detail-button {
  position: relative;
  width: calc(80vw / 3);
  height: 5vh;
  border-radius: 8px;
  margin-left: calc(200vw / 3);
  margin-top: 20px;
}
#quest-detail #quest-submit-img {
  position: relative;
  height: 40px;
  width: 100%;
}
#quest-detail #quest-submit-text {
  position: relative;
  height: 40px;
  width: 100%;
  border: black solid 1px;
}
#quest-detail #preview {
  position: relative;
  border: black solid 3px;
}
#quest-detail #quest-submit-button {
  width: 100%;
  height: 40px;
  background-color: #C0C0C0;
}
#quest-detail .dummy {
  width: 100vw;
  height: 20vh;
}

#filter #filter-return-area {
  position: absolute;
  top: calc(50vh / 3);
  right: 0;
  left: 90vw;
  bottom: 22vw;
  opacity: 0;
}
#filter #quest-main-header-filtering {
  margin-top: calc(100vh / 15);
  width: 100vw;
  height: 10vh;
  background-color: #FFFFFF;
  border-top: black solid 3px;
  border-bottom: black solid 3px;
}
#filter #quest-main-header-filtering span {
  text-align: center;
  font-size: 2em;
  letter-spacing: 10vw;
  margin-right: -10vw;
}
#filter #filter-block {
  width: 90vw;
  height: calc(100vh - calc(calc(100vh / 15) + 10vh));
  background-color: #FFFFFF;
  border-right: black solid 3px;
}
#filter #filter-block #filter-header {
  width: 100%;
  height: 9.5vh;
  background-color: #F2F2F2;
  display: flex;
  align-items: center;
  border-bottom: black solid 3px;
}
#filter #filter-block #filter-header span {
  font-size: 4vh;
  letter-spacing: 2.5vw;
  margin-left: 6vw;
}
#filter #filter-block .filter-div {
  width: 100%;
}
#filter #filter-block .filter-div .filter-title {
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
  margin-top: 0.5vh;
}
#filter #filter-block .filter-div .filter-title span {
  font-size: 3.5vh;
  letter-spacing: 1.5vw;
  margin-left: 6vw;
  vertical-align: middle;
}
#filter #filter-block .filter-div .flex-wrapper {
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-left: 6vw;
  padding-right: 6vw;
}
#filter #filter-block .filter-div .flex-wrapper .filter-type, #filter #filter-block .filter-div .flex-wrapper input {
  height: 37.5%;
  width: calc(435vw / 18);
  border-radius: 8px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.75), -1px -1px 4px rgba(0, 0, 0, 0.75);
  margin-top: 1vh;
  margin-bottom: 0.5vh;
}
#filter #filter-block .filter-div .flex-wrapper .filter-type span {
  font-size: 3vh;
  letter-spacing: 2.5vw;
  margin-right: -2.5vw;
}
#filter #filter-block .filter-div .flex-wrapper .selected {
  background-color: #D0CECE;
}
#filter #filter-block .filter-div #filter-point-range {
  background-color: #E7E6E6;
}
#filter #filter-block .filter-div #filter-point-range * {
  font-size: 3vh;
  display: inline-block;
}
#filter #filter-block .filter-div #filter-point-range span {
  height: 2px;
  width: calc(435vw / 36);
  background-color: black;
  border: black solid 1px;
}
#filter #filter-block #filter-footer {
  position: absolute;
  bottom: 22vw;
  left: 0;
  height: 8vh;
  width: 90vw;
  border-top: black solid 3px;
  display: inline-block;
}
#filter #filter-block #filter-footer .filter-footer-button {
  height: 62.5%;
  width: calc(435vw / 18);
  border-radius: 8px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.75), -1px -1px 4px rgba(0, 0, 0, 0.75);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 2vh;
  float: right;
}
#filter #filter-block #filter-footer .filter-footer-button span {
  font-size: 3vh;
  letter-spacing: 2.5vw;
  margin-right: -2.5vw;
}
#filter #filter-block #filter-footer #filter-confirm {
  background-color: #D0CECE;
}

#quest-filtered #quest-list-header {
  margin-top: calc(100vh / 15);
  width: 100vw;
  height: 10vh;
  background-color: #FFFFFF;
  border-top: black solid 3px;
  border-bottom: black solid 3px;
}
#quest-filtered #quest-list-header span {
  text-align: center;
  font-size: 2em;
  letter-spacing: 10vw;
  margin-right: -10vw;
}
#quest-filtered #quest-list {
  position: absolute;
  top: calc(50vh / 3);
  bottom: 22vw;
  left: 0;
  right: 0;
  overflow-y: scroll;
}
#quest-filtered #quest-list .qblock {
  position: static;
  width: 98%;
  border: black 3px solid;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  height: 15vh;
}
#quest-filtered #quest-list .qblock * {
  border: red solid 1px;
}
#quest-filtered #quest-list .qblock .qblock-type {
  position: relative;
  border-right: black solid 3px;
  height: 100%;
  width: 10%;
  background-color: #D0CECE;
}
#quest-filtered #quest-list .qblock .qblock-type span {
  white-space: normal;
  font-size: 3.5vh;
  line-height: 5.5vh;
}
#quest-filtered #quest-list .qblock .qblock-wrapper {
  position: relative;
  height: 100%;
  width: 90%;
}
#quest-filtered #quest-list .qblock .qblock-wrapper .qblock-title {
  position: absolute;
  top: 5px;
  left: 5px;
}
#quest-filtered #quest-list .qblock .qblock-wrapper .qblock-title span {
  font-size: 3vh;
}
#quest-filtered #quest-list .qblock .qblock-wrapper .qblock-more {
  position: absolute;
  bottom: 5px;
  left: 5px;
}
#quest-filtered #quest-list .qblock .qblock-wrapper .qblock-more span {
  font-size: 2.6vh;
}
#quest-filtered #quest-list .qblock .qblock-wrapper .qblock-points {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: #9C9C9C;
}
#quest-filtered #quest-list .qblock .qblock-wrapper .qblock-points span {
  font-size: 25px;
}
#quest-filtered #quest-list .qblock .qblock-wrapper .qblock-state {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 40%;
  height: 5vh;
  border-radius: 8px;
  border: black solid 3px;
}
#quest-filtered #quest-list .qblock .qblock-wrapper .qblock-state span {
  font-size: 3vh;
}
