%flex-centralize
    display: flex
    justify-content: center
    align-items: center

html, body
    box-sizing: border-box

html
    background-color: black
    height: 100%
    width: 100%

body
    background-color: white
    height: 100%
    width: 100%
    margin: 0 auto
    

.container
    @extend %flex-centralize
    width: 100%
    height: 100%

    form
        position: relative
        display: block
        width: 90vw
        height: 57.5vh
        border: black solid 4px
        border-radius: 60px
        box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.75)
        
        // *
        //     border: solid 1px red

        #title
            @extend %flex-centralize
            height: 21.7%
            width: 100%
            line-height: 100%
            border-bottom: black solid 4px
            
            #title-text
                font-size: 2.3em
                letter-spacing: 9vw
                margin-right: -9vw
        
        fieldset
            all: initial
            display: flex
            justify-content: space-around
            height: 2.5em

            label
                margin: auto -10% auto 0
                display: inline-block
                font-size: 2em
                
            input
                display: inline-block
                border-radius: 12px
                border: solid black 2px
                height: 100%
                width: 57%
                font-size: 1.7em

        fieldset#username
            margin-top: 8vh

        fieldset#pwd
            margin-top: 3vh
            margin-bottom: 1vh

        a
            margin-left: 35%
            margin-bottom: 10%
            color: #C0C0C0

        button
            @extend %flex-centralize
            position: absolute
            width: 30.4%
            height: 11.6%
            border-radius: 12px
            box-shadow: 1.5px 1.5px 6px rgba(0, 0, 0, 0.75)
            padding: 0
            
            div
                width: 100%
                font-size: 2em

        button#submit
            background-color: #A6A6A6
            color: white
            right: 3.7%
            bottom: 7.4%

        button#sign-up
            background-color: #D9D9D9
            right: 35.9%
            bottom: 7.4%    