#mainpage
    #city-container
        background-image: url(../resources/city/city-bg.png)
        background-size: contain
        background-repeat: no-repeat
        background-position: 40%
        position: absolute
        width: 100vw
        height: 100vh
        top: 50%
        transform: translateY(-50%)
        border: 3px black solid