%flex-centeralize
    display: flex
    align-items: center
    justify-content: center

%transform-centeralize
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

:root
    --stranger-radar: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%)

*
    box-sizing: border-box

// Header
.quest-header
    @extend %flex-centeralize
    position: absolute
    top: 0
    left: 0
    width: 100vw
    height: 100px
    background-color: #F1CE61
    z-index: 999
    
    > span
        display: block
        position: absolute
        width: 100%
        bottom: 20%

        color: white
        font-size: 20pt
        --letter-space-val: 25px
        letter-spacing: var(--letter-space-val)
        margin-left: var(--letter-space-val)
        text-align: center

#quest-create-new .quest-header
    > span::after
        content: "發起新任務"

#quest-main>.quest-header, .quest-header,
#quest-listing>.quest-header, #quest-titled-listing>.quest-header, #quest-ongoing-listing>.quest-header
    > span::after
        content: "任務"

// Quest Main Page Relatexd
#quest-main
    overflow-x: hidden
    overflow-y: scroll
    -ms-overflow-style: none
    scrollbar-width: none
    &::-webkit-scrollbar
        display: none

    .dummy
        height: 20vh
        width: 100vw

.quest-peek
    width: 92vw
    height: 40vh
    min-height: 300px
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.75)
    border-radius: 24px
    margin: 10px auto 0
    overflow: hidden
    background-color: #EAF6F7

    .peek-title
        padding: 0 6%
        display: flex
        align-items: center
        justify-content: space-between
        width: 100%
        height: 19%
        background-color: #EAF6F7
        // border-bottom: black solid 3px

        span
            display: inline-block
            vertical-align: middle

        span:nth-child(1)
            font-size: 2.7vh
            letter-spacing: 0.4vh
        span:nth-child(2)
            font-size: 1em

    .horizontal-scroll-container
        overflow-x: scroll
        white-space: nowrap
        height: 81%
        line-height: 100%
        margin-top: 1%

        &::-webkit-scrollbar
            visibility: hidden

        .quest-block
            display: inline-block
            width: 41.5%
            height:  calc(16500vh / 735)
            vertical-align: middle
            position: relative
            top: 50%
            transform: translateY(-50%)
            margin: 0 2px 0 9px
            border-radius: 20px
            box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.75)
            overflow: hidden
            background-color: white

            .type
                @extend %flex-centeralize
                margin: 0 auto
                height: calc(860% / 31)
                width: calc(1000% / 13)
                border-bottom: #ECE569 solid 2px
                span
                    font-size: 2.5vh
                    letter-spacing: 6vw
                    margin-right: -6vw
                    margin-top: 1vh

            .title
                @extend %flex-centeralize
                width: 100%
                height: calc(70% - calc(700% / 31))
                span
                    display: block
                    padding: 3%
                    white-space: normal
                    font-size: 2.5vh
                    line-height: 3vh
                    text-align: center
                    

            .accept-button
                @extend %flex-centeralize
                position: absolute
                left: -20%
                right: -20%
                bottom: -1%
                top: 70%
                border-radius: 50% 50% 0% 100% / 100% 100% 0% 0% 
                //border: black solid 2px
                background-color: #ECE569

                span
                    font-size: 2.2vh
                    letter-spacing: 2.2vh
                    margin-right: -2.2vh
                    margin-top: 1vh
                
            .qblock-qid
                diaplay: none

@keyframes _fade-in
    0%
        opacity: 0%
    100%
        opacity: 100%

@keyframes _fade-out
    0%
        opacity: 100%
    100%
        opacity: 0%

.animate-fade-out
    animation: _fade-out 1.5s ease forwards
.animate-fade-in
    animation: _fade-in 1.5s ease forwards

#quest-detail
    background-color: #F8F8F8
    overflow-y: scroll
    overflow-x: hidden

    .qd-block
        width: 100%
        height: auto
        display: block
        position: relative
        margin-top: 20px
        text-align: center

        .qd-block-title
            width: 45%
            margin: 0 auto
            background-color: #DF9F38
            border-radius: 10px

            line-height: min(max(10%, 40px), 55px)
            font-size: 1.2em
            color: #FFFFFF
            letter-spacing: 0.3em
            padding-left: 0.3em
            text-align: center

            display: flex
            flex-direction: row
            justify-content: center
            align-items: center
        
        > span
            width: 80%
            line-height: 2.5ch
            display: inline-block
            font-size: 2.25ch
            color: #1C1C1C
            text-align: center
            margin-top: 10px
            text-align: start

    #qd-submit
        margin-top: 120px
        #qd-submit-container
            height: 45vh
            max-height: 450px 
            width: 100%
            margin-top: 20px
            margin-bottom: -20px
            
            overflow-x: scroll
            direction: ltr

            display: flex
            flex-wrap: nowrap
            flex-direction: row-reverse
            justify-content: flex-start
            align-items: flex-start
            gap: 35px

            --itemw: max(min(60%, 250px), 200px)
            scrollbar-width: none
            &::--webkit-scrollbar
                display: none

            .qd-submit-upload, .qd-submit-past
                position: relative
                flex: 0 0 var(--itemw)
                height: 85%
                margin-left: 0

                border-radius: 20px
                box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4)

            .qd-submit-mask
                position: absolute
                inset: 0 0 0 0
                background-image: url("../resources/quest/upload-white.png")
                background-repeat: no-repeat
                background-position: 50% 40%
                background-size: 30% auto

            .qd-submit-upload
                margin-right: calc(calc(100vw - var(--itemw)) / 2)
                background-color: #E6E0AF

            .qd-submit-past
                background-color: #F1C732

                .qdsp-location
                    width: auto
                    height: 30px
                    position: absolute
                    left: 2%
                    bottom: calc(15% + 45px)

                    background-image: url("../resources/quest/location-red.png")
                    background-position: 0 50%
                    background-repeat: no-repeat
                    background-size: auto 100%

                    font-size: 0.8em
                    color: #FFFFFF
                    padding-left: 25px

                    display: flex
                    flex-direction: column-reverse

                .qdsp-title
                    width: 100%
                    height: 15%
                    position: absolute
                    bottom: 40px
                    left: 0

                    background-color: #F8E49B

            .dummy
                flex: 0 0 calc(calc(100vw - var(--itemw)) / 2)
                margin-right: -35px
                background-color: transparent

    #qd-intro
        #qd-plim
            width: 80%
            line-height: 1.8em
            margin: 10px auto 0

            display: flex
            flex-direction: row
            justify-content: flex-start
            
            span
                width: 27%
                border: 1px solid #DF9F38
                margin-right: 10px
                border-radius: 10px

                background-color: #FFFFFF
                font-size: 1.1em
                color: #DF9F38
                letter-spacing: 0.5em
                padding-left: 0.5em

    #qd-guide
        #qd-accept
            width: 30%
            height: 40px
            margin: 10px 8% 0 auto
            border-radius: 8px

            display: flex
            flex-direction: column
            justify-content: center
            align-items: center

            color: #FFFFFF
            font-size: 1.2em
            letter-spacing: 0.5em
            padding-left: 0.5em
    
    #qd-history
        #qd-history-flex
            width: 100%
            margin-top: 10px
            display: flex
            flex-direction: row
            flex-wrap: wrap
            justify-content: flex-start
            gap: 8px
            
            div
                background-color: #F1E1AC
                flex: 0 0 calc((100% - 16px) / 3)
                height: calc(calc(100vw - 16px) / 3)

            div.placeholder
                background-color: rgba(0, 0, 0, 0)

    #stranger-return
        width: 100vw
        height: 100vh
        position: fixed
        top: 0
        left: 0
        display: block
        background-color: rgba(#000, 0.25)
        z-index: 1000
        
        .stranger-return-chevron
            transform: rotate(180deg)
            top: 25px
            width: 40%

#quest-submit
    z-index: 1010
    background-color: #FAFAFA

.quest-detail-header
    position: absolute
    top: 0
    left: 0
    width: 100vw
    height: 100px
    background-color: #F1E1AC
    z-index: 999
        
    > *
        display: flex
        justify-content: center
        align-items: center
        flex-direction: row

    .qdh-field
        height: 20px
        width: 15%
        max-width: 150px
        min-width: 65px
        margin: 30px auto 0
        align-items: flex-end
        font-size: 1.1em
        color: #DF9F38
        border-left: 1px solid #DF9F38
        border-right: 1px solid #DF9F38
        letter-spacing: 0.5em
        padding-left: 0.5em

    .qdh-qname
        position: relative
        margin: 8px auto 0
        font-size: 1.25em
        color: #0E0F0E
        letter-spacing: 1.1px
        padding-left: 1.1px

    .qdh-return-arrow, .qdh-pts
        position: absolute
        bottom: 20px
        border-radius: 50%
        z-index: 1
        
    .qdh-return-arrow
        left: 10px
        height: 30px
        width: 30px
        background-color: #F8F8F8
        background-image: url("../resources/quest/return-arrow.png")
        background-size: 60% auto
        background-position: 50% 50%
        background-repeat: no-repeat
    .qdh-pts
        height: 35px
        width: 35px
        right: 10px
        background-color: #E9E52E
        color: #0E0F0E
        font-size: 16px
        letter-spacing: 0.5px
        padding-ledr: 0.5px
                
#quest-stranger
    display: block
    position: fixed
    bottom: 0
    left: 50%
    transform: translateX(-50%)
    #stranger-closed-container
        width: 100%
        height: 100%
        position: relative
        background-image: linear-gradient(transparent, rgba(255, 255, 255, 0.6))
        &::before
            content: "看看有誰"
            display: flex
            justify-content: center
            font-size: 1.5em
            color: #5E9289
            padding-top: 15px
            letter-spacing: 0.2em
            padding-left: 0.2em

    #stranger-opened-container
        // > *
        //     border: 2px #C0C0C0 solid
        #stranger-icon
            height: 18vh
            width: 18vh
            position: absolute
            top: 3vh
            left: min(5vw, 19px)
            border-radius: 50%
            border: #FFFFFF 7px solid
            background-image: url("../resources/quest/placeholder_1x1.png")
            background-position: 50% 50%
            background-size: 100% auto
            background-repeat: no-repeat
            
        #stranger-info
            height: 16vh
            width: calc(calc(95vw - 18vh) - calc(2 * min(5vw, 19px)))
            position: absolute
            top: 3.5vh
            right: 5vw
            display: grid
            grid-template-rows: 3fr 2fr 4fr
            grid-template-columns: 1fr

            > *
                margin: 0 0 0 1.3vh
                color: black
                text-align: left
                display: flex
                justify-content: flex-start
                align-items: center

            p#stranger-name
                font-size: 1.35em
            p#stranger-hashtag
                font-size: 1em
                &::before
                    content: "＃"
            #stranger-send-request
                margin: 1.3vh 0 1.3vh 1.3vh
                border-radius: 8px
                color: #FFFFFF
                font-size: 1.25em
                background-color: #D6CE41
                justify-content: center
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25)

        #stranger-stats
            height: 18vh
            width: 6em
            position: absolute
            top: 25vh
            left: min(9vw, 34px)
            display: flex
            flex-direction: column
            justify-content: space-between
            
            p
                margin: 0
                display: flex
                justify-content: flex-start
                align-items: center
                font-size: 1.15em
                letter-spacing: 0.05em
            
        #stranger-radar
            width: calc(100vw - calc(min(10vw, 37px) + 6em))
            height: 20vh
            position: absolute
            top: 24vh
            right: 0
            background-image: url("../resources/quest/radar-base.png")
            background-size: auto 100%
            background-repeat: no-repeat
            background-position: 50% 50%
            #stranger-radar-inner
                height: 78%
                width: 59%
                clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%)
                position: absolute
                top: 9%
                left: 50%
                transform: translateX(-50%)
                background-color: rgba(#EB931D, 0.45)

        @keyframes _spinner-to-pos
            0%
                top: 150%
            100%
                top: 100%

        #stranger-spinner
            width: 175vw
            height: 175vw
            position: absolute
            top: 100%
            left: 50%
            transform: translate(-50%, -50%)
            border-radius: 50%
            border: 5px solid #FFF
            background-color: #B4E6DC
            overflow: hidden
            animation: _spinner-to-pos 0.8s ease forwards

            > *
                --size: 50%
                width: var(--size)
                height: var(--size)
                transform-origin: 100% 100%
                position: absolute
                top: 50%
                left: 50%
                border: 3px solid #FFF
                margin-top: calc(-1 * var(--size))
                margin-left: calc(-1 * var(--size))

            #stranger-spnner-l
                transform: rotate(15deg) skewX(40deg)
                > *
                    transform: skewX(-40deg) rotate(-65deg)
            #stranger-spnner-m
                transform: rotate(65deg) skewX(40deg)
                > *
                    transform: skewX(-40deg) rotate(-65deg)
            #stranger-spnner-r
                transform: rotate(115deg) skewX(40deg)
                > *
                    transform: skewX(-40deg) rotate(-65deg)

            .stranger-spinner-icon
                width: 38%
                height: 38%
                position: absolute
                top: 48%
                left: 41%
                border-radius: 50%
                border: white 8px solid
                background-image: url("../resources/quest/placeholder_1x1.png")
                background-size: 100% 100%
                background-repeat: no-repeat
                background-position: 50% 50%

            .stranger-spinner-name
                display: inline-block
                width: 5em
                position: absolute
                top: 65%
                left: 59.5%
                font-size: 1.3em
                color: black
                text-align: center

@keyframes _select
    100%
        border: none
        background-color: #E9B83E
        color: white
        border-radius-top: 15vw 15vw 0 0

// Filter
#filter
    background-color: rgba(0, 0, 0, 0.65)
    z-index: 20
    #filter-return
        height: 100vh
        width: 100vw
        position: absolute
        top: 0
        left: 0
        
        z-index: 10
        background-color: rgba(0, 0, 0, 0)


.filter-panel
    height: calc(calc(100vh - 100px) * 0.9)
    width: 90%
    position: absolute
    top: 120px
    left: 0
    background-color: white
    z-index: 30
    border-radius: 0 40px 40px 0
    overflow: hidden

    .filter-header, .filter-footer
        width: 100%
        position: relative

    .filter-header
        background-color: #CFE9EA
        height: 80px
        
        &::after
            content: "篩選器"
            display: flex
            justify-content: center
            align-items: center
            font-size: 1.5em
            letter-spacing: 0.5em
            padding-left: 0.5em
            height: 100%
            width: 100%
        
    .filter-body
        width: 100%
        height: calc(100% - 145px)
        position: relative
        overflow-y: scroll

        & > *
            position: relative
            margin-left: 7%            

        .filter-option-title
            padding: 0.5em 0
            font-size: 1.5em
            color: #000000

        .filter-option-grid
            width: 80%
            display: grid
            grid-template-columns: repeat(auto-fill, minmax(80px, 1fr))
            grid-auto-rows: 35px
            grid-gap: 10px

            .filter-option
                display: flex
                justify-content: center
                align-items: center
                border-radius: 8px
                font-size: 1em
                letter-spacing: 0.4em
                padding-left: 0.4em

        .filter-option-range, .filter-option-input
            min-height: 35px

        .filter-option-range
            height: 11%
            width: 70%
            line-height: 50px

            display: flex
            flex-direction: row
            justify-content: space-evenly
            align-items: center

            background-color: #C7E1D9

            > * 
                display: inline-block
                vertical-align: middle
                width: 30%

            input
                height: 70%
                background-color: #FFFFFF
                border: none
                border-radius: 8px
                outline: 0
                text-align: center
                font-size: 1.5em
            
            div
                height: 2px
                width: 15%
                background-color: #000000
        
        .filter-option-input
            height: 8%
            width: 70%
            padding-left: calc(calc(calc(100vh - 100px) * 0.9) * 0.06)

            background-repeat: no-repeat
            background-position: top 50% left 5px
            background-size: auto 80%

        .loc-filter.filter-option-input
            background-image: url("../resources/quest/search.png")
        
    .filter-footer
        height: 65px
        display: flex
        flex-direction: row-reverse
        justify-content: flex-start
        align-items: center
        padding-right: 15px
        background-image: linear-gradient(#DEDEDE, #FFFFFF)
        
        *
            height: 40px
            width: 28%
            min-width: 70px
            max-width: 120px
            display: flex
            justify-content: center
            align-items: center
            margin-right: 15px
            border-radius: 5px
            font-size: 1.3em
            letter-spacing: 0.4em
            padding-left: 0.4em
            box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.35)

        .reset
            background-color: white
            color: black
        .confirm
            background-color: #E9B83E
            color: white

// Quest listing, all quests
#quest-listing
    .quest-list-container
        position: absolute
        bottom: 0
        
        display: block
        width: 100%
        height: calc(100vh - 155px)

        .container-fadeout-top
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%)

// Quest Listing, within division
#quest-titled-listing, #quest-ongoing-listing
    .quest-list-bg
        position: absolute
        left: 0
        bottom: 0

        display: block
        height: calc(100vh - 155px)
        width: 100%
        overflow-y: hidden

        border-radius: 30px 30px 0 0
        background-color: #EAF6F7
        
        .quest-list-title
            position: relative
            height: 12%
            max-height: 70px
            width: 100%

            display: flex
            flex-direction: column
            justify-content: center
            align-items: center

            font-size: 1.5em
            letter-spacing: 0.2em
            padding-left: 0.2em

        .quest-list-container
            height: 90%

#quest-titled-listing
    .quest-list-title
        color: black

#quest-ongoing-listing 
    .quest-list-title
        background-color: #99DCC6
        color: #FFFFFF

    .filter-bar
        margin-top: 10px
        .filter-button
            margin-left: 5%
            transform: scale(0.85)

    .quest-list-bg
        overflow: hidden

    .lr-slide-container
        position: relative
        left: -100%
        width: 200%
        height: calc(100% - min(12%, 70px))
        & > *
            position: absolute
            top: 0
            width: 50%
            height: 100%

        .lr-slide-container-l
            left: 0

        .lr-slide-container-r
            left: 50%

    .quest-list-container
        .quest-list-item
            width: 85%
            height: 70px
            .qli-field
                width: 55px
                font-size: 1em
                p
                    top: 14px
                    left: -2px
                    letter-spacing: 10px
            .qli-title
                top: 30%
            .qli-progress
                width: calc(100% - 165px)
                height: 6px
                
                position: absolute
                left: 85px
                bottom: 30%
                transform: translateY(50%)

                background-color: #E9E797
                --progress-width: 0%

                &::after
                    content: ""
                    display: block
                    height: 100%
                    width: var(--progress-width, 0%)
                    position: absolute
                    left: 0
                    background-color: #DCCD3F

            .qli-submit
                height: 35px
                width: 35px
                display: block
                position:absolute
                right: 10px
                top: 50%
                transform: translateY(-50%)
                border-radius: 50%
                background-color: #E2E556
                background-image: url("../resources/quest/upload-white.png")
                background-size: 60% auto
                background-position: 50% 50%
                background-repeat: no-repeat

    #ongoing-filter
        height: 80%
        width: 85%
        position: absolute
        top: 45%
        left: 50%
        transform: translate(-50%, -50%)

        .filter-panel
            width: 100%
            height: 100%
            top: 0
            left: 0
            border-radius: 25px
            box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.25)

            .filter-header
                background-color: #E9E797
                height: 60px

                &::after
                    position: relative
                    top: 3px
                    color: #5E6268
                    font-size: 1.2em
                    letter-spacing: 0.9em
                    padding-left: 0.45em
                    font-weight: 400
                #quest-ongoing-filter-return
                    height: 30px
                    width: 30px
                    line-height: 35px

                    position: absolute
                    left: 10%
                    top: 50%
                    transform: translateY(-50%)
                    border-radius: 50%

                    background-image: url("../resources/quest/return-arrow.png")
                    background-size: auto 45%
                    background-repeat: no-repeat
                    background-position: 50% 50%
                    background-color: #F8F8E0

            .filter-body
                height: calc(100% - 115px)

                > *
                    margin-left: 12%

                .filter-option-title
                    font-size: 1.2em
                    margin-top: 5%

                .filter-option-grid
                    width: 65%
                    row-gap: 12px
                    column-gap: 25px

            .filter-footer
                background-image: none
                background-color: #E9E9E9
                padding-bottom: 12px
                > *
                    height: 35px
                    box-shadow: none
                .reset
                    border: 2px solid #E9B83E         

// List container general
.quest-list-container
    position: relative
    width: 100% 
    margin-top: 10px
    display: block
    overflow-y: scroll

    .container-fadeout-top
        position: sticky
        display: block
        width: 100%
        height: 20px
        top: -1px
        left: 0
        z-index: 1
        margin-bottom: -20px
        background-image: linear-gradient(to bottom, rgba(234, 246, 247, 1) 0%, rgba(234, 246, 247, 0) 100%)

    .quest-list-item
        position: relative
        width: 90%
        height: 90px
        margin: 10px auto 0

        background-color: white
        border-radius: 15px
        box-shadow: 2px 2px 5.5px rgb(0 0 0 / 40%)
        overflow: hidden

        *
            position: absolute

        .qli-field
            top: 0
            bottom: -15px
            left: 0
            width: 65px
            border-radius: 0% 1% 100% 0%/0% 15% 85% 0%
            background-color: #ECE569
            writing-mode: vertical-rl
            white-space: nowrap
            font-size: 1.2em
            color: black
            p 
                position: absolute
                top: 19px
                left: -7px
                letter-spacing: 12px               

        .qli-title
            top: 50%
            left: 85px
            width: calc(100% - 165px)
            max-height: 100%

            transform: translateY(-50%)

            white-space: normal
            font-size: 1em
            line-height: 1.3em
            color: black

        .qli-pt
            top: 10px
            right: 10px

            display: flex
            height: 30px
            width: 30px
            justify-content: center
            align-items: center
            color: white
            font-size: 12pt
            border-radius: 50%
            background-color: #468189

        .qli-accept
            right: 10px
            bottom: 7px

            height: 30px
            width: 75px
            border-radius: 3px

            font-size: 1em
            letter-spacing: 5px
            padding-left: 5px

            display: flex
            flex-direction: column
            justify-content: center
            align-items: center

// Filtering bar in listing page
.filter-bar
    position: relative
    margin-top: 110px

    display: block
    width: 100%
    height: 35px
    line-height: 35px

    overflow-x: scroll

    .filter-button
        height: 100%
        width: 90px
        line-height: 35px

        position: relative
        margin-left: 5%

        background-image: url("../resources/quest/filter.png")
        background-size: contain
        background-repeat: no-repeat

        &::after
            content: "篩選"
            display: flex
            flex-direction: row-reverse
            font-size: 1.1em
            letter-spacing: 0.4em
            color: #EB931D
            vertical-align: middle

// Quest option list animatoin
@keyframes _quest-more-expand
    0%
        height: 50px
    100%
        height: 225px

@keyframes _quest-more-shrink
    0%
        height: 225px
    100%
        height: 50px

.quest-more-expand
    animation: _quest-more-expand 0.5s ease forwards

.quest-more-shrink
    animation: _quest-more-shrink 0.5s ease forwards        

// Quest option list
.quest-more
    position: fixed
    bottom: 11.5vh
    right: 6.5vw
    width: 60px
    height: 50px
    border-radius: 25px
    background-color: #E2D6A8

    *
        position: absolute

    .quest-more-closed
        height: 50px
        width: 100%
        display: flex
        justify-content: center
        align-items: center

        .quest-more-option
            max-width: 100%
    .quest-more-open
        width: 100%
        height: 100%
        display: flex
        justify-content: space-between
        align-items: center
        flex-direction: column
        padding-top: 20px

        div
            width: 100%
            height: 65px
            position: relative

        span
            position: relative
            color: white
            font-size: 9pt
            width: 100%
            text-align: center
            display: block

        img 
            max-width: 70%
            position: relative
            top: 0
            left: 50%
            transform: translateX(-50%)

        .quest-more-x
            height: 45px
            img
                max-width: 45%

// New Quest
#quest-create-new
    overflow: hidden
    #quest-create-inputs
        display: block
        width: 600vw
        height: 60vh
        
        position: absolute
        top: 25%
        left: 0

        .quest-create-step
            height: 100%
            width: 100vh
            position: absolute
            top: 0

        #quest-create-part1
            left: 0
            .quest-create-steptitle
                margin-top: 12%

            input
                position: absolute
                width: 80%
                max-width: calc(100vw - 60px)
                height: 9vh

                position: absolute
                left: 30px

                background-color: transparent
                border: none
                border-bottom: #EB931D solid 2px
                outline: 0
                
                font-size: 32pt
                padding-top: 20px
                color: #727272
                text-align: center

        #quest-create-part2
            left: 100vw
            .quest-create-steptitle
                margin-top: 12%

        #quest-create-part3
            left: 200vw
            .quest-create-steptitle
                margin-top: 12%

        #quest-create-part4
            left: 300vw

        #quest-create-part5
            left: 400vw

        #quest-create-part6
            left: 500vw
            .quest-create-steptitle
                margin-top: 12%

        .quest-create-steptitle
            position: relative
            display: block
            // margin-top: 12%
            left: 30px
            font-size: 20pt
            color: #EB931D
        .quest-create-steptitle-ps
            position: relative
            display: block
            left: 23px
            font-size: 12pt
            color: #EB931D
        .quest-create-grid-wrapper
            position: relative
            left: 24px
            margin-top: 15px

            display: grid
            width: calc(100vw - 48px)
            height: 35vh

            grid-template-columns: repeat(auto-fill, minmax(80px, 105px))
            grid-template-rows: repeat(auto-fill, 40px)
            row-gap: 10px 
            justify-items: center
            justify-content: space-between
            align-items: center
        
        .quest-create-owbtn
            @extend %flex-centeralize
            position: relative
            height: 100%
            width: 100%

            border-radius: 5px
            border: black solid 1px

            span
                font-size: 15pt
                letter-spacing: 2px
                margin-left: 2px

        textarea
            position: relative
            margin-top: 15px
            left: 30px
            width: calc(100vw - 60px)
            height: 30vh
            border: #EB931D solid 2px
            outline: 0
            border-radius: 15px
            padding: 5px
            font-size: 15pt
            color: #333333
            padding: 15px

    #quest-create-progress
        position: absolute
        bottom: 15vh
        left: 50%
        transform: translateX(-50%)
        width: auto
        height: auto

        display: flex
        justify-content: space-evenly
        align-items: center
        
        .quest-create-progress-dot
            width: 8px
            height: 8px
            margin: 0 3px
            background-color: #EB931D
            border-radius: 4px
            
    #quest-create-next, #quest-create-finish
        display: block
        position: absolute
        width: 8vh
        height: 8vh
        bottom: 22vh
        right: 3vh

        img
            max-width: 100%

    #quest-create-success
        display: none
        width: 100vw
        height: 100vh
        position: absolute
        top: 0
        bottom: 0
        background-color: rgba(0, 0, 0, 0.4)

        > div
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            text-align: center
            width: 85%
            height: 45vh
            background-color: white
            display: flex
            flex-direction: column
            justify-content: space-between
            padding: 8% 0 20% 0
            border-radius: 25px

            > span
                color: #EB931D
                font-size: 3.2vh
        
        #quest-create-success-confirm
            @extend %flex-centeralize
            position: absolute
            height: 11%
            width: 40%
            bottom: 4%
            left: 50%
            transform: translateX(-50%)
            background-color: #EB931D
            border-radius: 7px

            > span
                font-size: 3.2vh
                color: white

// New Quest Animations
@keyframes _tostep2
    0%
        left: 0
    100%
        left: -100vw

@keyframes _tostep3
    0%
        left: -100vw
    100%
        left: -200vw

@keyframes _tostep4
    0%
        left: -200vw
    100%
        left: -300vw

@keyframes _tostep5
    0%
        left: -300vw
    100%
        left: -400vw

@keyframes _tostep6
    0%
        left: -400vw
    100%
        left: -500vw

.quest-create-tostep2
    animation: _tostep2 0.5s ease-in-out forwards
.quest-create-tostep3
    animation: _tostep3 0.5s ease-in-out forwards
.quest-create-tostep4
    animation: _tostep4 0.5s ease-in-out forwards
.quest-create-tostep5
    animation: _tostep5 0.5s ease-in-out forwards
.quest-create-tostep6
    animation: _tostep6 0.5s ease-in-out forwards

// Select / Deselet orange-white button
@keyframes _owbtn-select
    0%
        background-color: #FFFFFF
        border: 2px solid #EB931D
        color: #000000
        box-shadow: none
        transform: translate(0, 0)
    100%
        background-color: #EB931D
        color: #FFFFFF
        border: 1px solid #EB931D
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4)
        transform: translate(-2px, -2px)

@keyframes _owbtn-deselect
    0%
        background-color: #EB931D
        color: #FFFFFF
        border: 1px solid #EB931D
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4)
        transform: translate(-2px, -2px)
    100%
        background-color: #FFFFFF
        border: 2px solid #EB931D
        color: #000000
        box-shadow: none
        transform: translate(0, 0)

.owbtn-deselect
    animation: _owbtn-deselect 0.4s ease forwards
.owbtn-select
    animation: _owbtn-select 0.4s ease forwards
        
// Progress dot expand/shrink
@keyframes _progress-on
    0%
        width: 8px
    100%
        width: 30px
    
@keyframes _progress-off
    0%
        width: 30px
    100%
        width: 8px

.pd-on
    animation: _progress-on 0.5s ease forwards
.pd-off
    animation: _progress-off 0.5s ease forwards

// Indicate disabled items
.disabled-grayscale
    filter: grayscale(100%)

// Text-icon pair (size: small)
.txic-small
    position: absolute
    width: 85px
    height: 25px
    
    & *
        position: absolute
        
    > div
        display: inline-block
        right: 0
        top: 0
        height: 25px
        width: 25px

        background-size: contain
        background-repeat: no-repeat

    > span
        display: flex
        flex-direction: column
        justify-content: flex-end
        align-items: center
        flex-wrap: nowrap
        width: 55px
        height: 25px
        font-size: 13.5pt
        color: #E9B83E

// Show/Hide vertical list item
$hide-show-sizes: 70px, 90px
@each $size in $hide-show-sizes
    @keyframes _item-hide-#{$size}
        0% 
            margin-top: 10px
            height: #{$size}
            opacity: 1
        100%
            margin-top: 0
            height: 0
            opacity: 0

    @keyframes _item-show-#{$size}
        0% 
            margin-top: 0
            height: 0
            opacity: 0
        100%
            margin-top: 10px
            height: #{$size}
            opacity: 1

    .item-hide-#{$size}
        animation: _item-hide-#{$size} 0.3s ease forwards
    .item-show-#{$size}
        animation: _item-show-#{$size} 0.3s ease forwards

// Text for accept button
.can-accept::after
    content: "挑戰"
.did-accept::after
    content: "已接取"

// Animation for sliding left / right
@keyframes _lr-slide-container-tol
    0%
        left: -100%
    100%
        left: 0%
        
@keyframes _lr-slide-container-tor
    0%
        left: 0
    100%
        left: -100%

.lr-slide-container-tol
    animation: _lr-slide-container-tol 0.8s cubic-bezier(0,1,0.75,1.15) forwards 
.lr-slide-container-tor
    animation: _lr-slide-container-tor 0.8s cubic-bezier(0,1,0.75,1.15) forwards 

// Expand / Shrink Stranger panel
@keyframes _stranger-closed
    0%
        width: 100vw
        height: 88vh
        background-color: #DFF4E4
        border-radius: 30px
    100%
        width: 120vw
        height: 20vh
        background-color: #A3DFCD
        border-radius: 50%

@keyframes _stranger-opened
    0%
        width: 120vw
        height: 20vh
        background-color: #A3DFCD
        border-radius: 50%
    30% 
        width: 120vw
        border-radius: 40px
        height: 70vh

    100%
        width: 100vw
        height: 88vh
        background-color: #DFF4E4
        border-radius: 30px
        

.stranger-closed
    animation: _stranger-closed 0.3s ease-out forwards
.stranger-opened
    animation: _stranger-opened 0.3s ease-out forwards

.shape-chevron
    position: relative
    text-align: center
    padding: 2px
    margin: 20px auto 0
    height: 0px
    width: 15%
    
    &::before, &::after
        content: ''
        position: absolute
        top: 0
        background-color: #E3F2E6
        height: 100%
        width: 50%
    &:before
        left: 0
        transform: skew(0deg, -15deg)
    &:after
        right: 0
        transform: skew(0deg, 15deg)