doctype html 
html(lang='zh-cn')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
        title Title
        link(rel="stylesheet", href="../css/index.css")
        link(rel="stylesheet", href="../css/main.css")
        link(rel="stylesheet", href="../css/quest.css")
        link(rel="stylesheet", href="../css/friend.css")
        link(rel="stylesheet", href="../css/chatroom.css")
        link(rel="stylesheet", href="../css/mypage.css")
    body
        // Assume using iPhoneX sizing (1125x2436)
        // Navigation bar at the bottom
        .navbar
            img#nav-chat(src="../resources/nav/chat.png")
            img#nav-friend(src="../resources/nav/friend.png")
            img#nav-mainpage(src="../resources/nav/mainpage.png")
            img#nav-mypage(src="../resources/nav/mypage.png")
            img#nav-quest(src="../resources/nav/quest.png")

        // Container class for each function page
        // Except login page, uses a new html page.
        
        // Loading page, show this until all others are loaded.
        .container#loading-cover

        // Mainpage, should land here after login 
        // Or after clicking the mainpage icon of nav-bar
        .container#mainpage 

        // Land here after clicking quest icon of nav-bar
        .container#quest-main

        // After filtered, or clicked "show-all" button
        // Lists individual quests.
        .container#quest-filtered

        // Show after quest-book icon is clicked.
        .container#quest-book(class="transparent-background")
        
        // Details for quests. 
        // Show after clicked "Details" on entries within each quest pages
        .container#quest-detail

        // List user already accepted the quest (who's in)
        .container#quest-whosin(class="transparent-background")

        // Land here after clicking the chat room icon
        .container#chat-main 

        // Show after clicked "Create Group"
        .container#chat-create-room(class="transparent-background")

        // Land here after clicked my-page icon
        .container#mypage-main 

        // Land here after clicked the friend icon
        .container#friend-main

        script(src="https://code.jquery.com/jquery-3.6.0.min.js") 
        script(src="../js/switchpages.js") 